.SBL {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.SBL .img {
  position: relative;
  width: 1000px;
  flex: 0 0 auto;
}

.SBL .ohish-SBL {
  position: relative;
  width: 1000px;
  height: 5224px;
}

.SBL .ohish-SBL-2 {
  position: relative;
  width: 1000px;
  height: 5000px;
}

.SBL .ohish-SBL-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
